# Composer's vendor dir.
vendor/**
.vscode/**

# Output from Nette Tester for debugging tests.
/tests/**/output/*.actual
/tests/**/output/*.expected

# Main temporary dir.
/temp/**
!/temp/.gitkeep

# Main build dir.
/build/**
!/build/.gitkeep

# Code coverage reports.
/coverage.*
